pkgbase = firefox-clean
	pkgdesc = Standalone web browser from mozilla.org, with defaults for more privacy
	pkgver = 72.0
	pkgrel = 1
	url = https://www.mozilla.org/firefox/
	arch = x86_64
	license = MPL
	license = GPL
	license = LGPL
	makedepends = unzip
	makedepends = zip
	makedepends = diffutils
	makedepends = python2-setuptools
	makedepends = yasm
	makedepends = mesa
	makedepends = imake
	makedepends = inetutils
	makedepends = xorg-server-xvfb
	makedepends = autoconf2.13
	makedepends = rust
	makedepends = clang
	makedepends = llvm
	makedepends = jack
	makedepends = gtk2
	makedepends = python
	makedepends = nodejs
	makedepends = python2-psutil
	makedepends = cbindgen
	makedepends = nasm
	depends = gtk3
	depends = libxt
	depends = startup-notification
	depends = mime-types
	depends = dbus-glib
	depends = ffmpeg
	depends = nss
	depends = ttf-font
	depends = libpulse
	optdepends = networkmanager: Location detection via available WiFi networks
	optdepends = libnotify: Notification integration
	optdepends = pulseaudio: Audio support
	optdepends = speech-dispatcher: Text-to-Speech
	optdepends = hunspell-en_US: Spell checking, American English
	provides = firefox=72.0
	conflicts = firefox
	options = !emptydirs
	options = !makeflags
	options = !strip
	source = https://archive.mozilla.org/pub/firefox/releases/72.0/source/firefox-72.0.source.tar.xz
	source = https://archive.mozilla.org/pub/firefox/releases/72.0/source/firefox-72.0.source.tar.xz.asc
	source = 0001-Use-remoting-name-for-GDK-application-names.patch
	source = firefox.desktop
	source = disable-bad-addons.diff
	source = disable-newtab-ads.diff
	source = add-restart.diff
	validpgpkeys = 14F26682D0916CDD81E37B6D61B7B526D98F0353
	sha256sums = 6473b2d854828b5d3dbe4b01093e8993141de7707d5d01eb32bd16a469b46708
	sha256sums = SKIP
	sha256sums = 5f7ac724a5c5afd9322b1e59006f4170ea5354ca1e0e60dab08b7784c2d8463c
	sha256sums = a9e5264257041c0b968425b5c97436ba48e8d294e1a0f02c59c35461ea245c33
	sha256sums = adfd7b8f0da413ba3022718e0e87e2577847d0ea4468fa18cedeeca9798a7c81
	sha256sums = e4f3114b8b65281c9d7868bc03921702cebad1939a7236a7c6cc5af4fcaf43ca
	sha256sums = dafb110a56fe362672755601e05653a55e186a34b0d8915bbc90fa603cc6e5e2

pkgname = firefox-clean

