pkgbase = firefox-clean
	pkgdesc = Standalone web browser from mozilla.org, with defaults for more privacy
	pkgver = 68.0.1
	pkgrel = 2
	url = https://www.mozilla.org/firefox/
	arch = x86_64
	license = MPL
	license = GPL
	license = LGPL
	makedepends = unzip
	makedepends = zip
	makedepends = diffutils
	makedepends = python2-setuptools
	makedepends = yasm
	makedepends = mesa
	makedepends = imake
	makedepends = inetutils
	makedepends = xorg-server-xvfb
	makedepends = autoconf2.13
	makedepends = rust
	makedepends = clang
	makedepends = llvm
	makedepends = jack
	makedepends = gtk2
	makedepends = python
	makedepends = nodejs
	makedepends = python2-psutil
	makedepends = cbindgen
	makedepends = nasm
	depends = gtk3
	depends = mozilla-common
	depends = libxt
	depends = startup-notification
	depends = mime-types
	depends = dbus-glib
	depends = ffmpeg
	depends = nss
	depends = ttf-font
	depends = libpulse
	optdepends = networkmanager: Location detection via available WiFi networks
	optdepends = libnotify: Notification integration
	optdepends = pulseaudio: Audio support
	optdepends = speech-dispatcher: Text-to-Speech
	optdepends = hunspell-en_US: Spell checking, American English
	provides = firefox=68.0.1
	conflicts = firefox
	options = !emptydirs
	options = !makeflags
	options = !strip
	source = https://archive.mozilla.org/pub/firefox/releases/68.0.1/source/firefox-68.0.1.source.tar.xz
	source = https://archive.mozilla.org/pub/firefox/releases/68.0.1/source/firefox-68.0.1.source.tar.xz.asc
	source = 0001-Use-remoting-name-for-GDK-application-names.patch
	source = firefox.desktop
	source = firefox-symbolic.svg
	source = disable-bad-addons.diff
	source = disable-newtab-ads.diff
	source = add-restart.diff
	validpgpkeys = 14F26682D0916CDD81E37B6D61B7B526D98F0353
	sha256sums = 6037f77bdab29d79ca5e3fbd1d32f6c209e09d2066189a13dc7f7491227f5568
	sha256sums = SKIP
	sha256sums = ab07ab26617ff76fce68e07c66b8aa9b96c2d3e5b5517e51a3c3eac2edd88894
	sha256sums = a9e5264257041c0b968425b5c97436ba48e8d294e1a0f02c59c35461ea245c33
	sha256sums = 9a1a572dc88014882d54ba2d3079a1cf5b28fa03c5976ed2cb763c93dabbd797
	sha256sums = f68dd4cf6e9ae902daaf0c218b7ac3d0cf04c0cca68cc2c4d2f33bf8a5be2b81
	sha256sums = d710d2409024ab8f4a174a9eb54b6dd65f6f1bf3d3dac2347fd759848864eee2
	sha256sums = 5408e978b2873cac06a6c9e9f6b6bcecab3628882a41ea996e9ea5dfe2857634

pkgname = firefox-clean

