pkgbase = firefox-clean
	pkgdesc = Standalone web browser from mozilla.org, with defaults for more privacy
	pkgver = 64.0
	pkgrel = 1
	url = https://www.mozilla.org/firefox/
	arch = x86_64
	license = MPL
	license = GPL
	license = LGPL
	makedepends = unzip
	makedepends = zip
	makedepends = diffutils
	makedepends = python2-setuptools
	makedepends = yasm
	makedepends = mesa
	makedepends = imake
	makedepends = inetutils
	makedepends = xorg-server-xvfb
	makedepends = autoconf2.13
	makedepends = rust
	makedepends = mercurial
	makedepends = clang
	makedepends = llvm
	makedepends = jack
	makedepends = gtk2
	makedepends = python
	makedepends = nodejs
	makedepends = python2-psutil
	makedepends = cbindgen
	depends = gtk3
	depends = mozilla-common
	depends = libxt
	depends = startup-notification
	depends = mime-types
	depends = dbus-glib
	depends = ffmpeg
	depends = nss
	depends = ttf-font
	depends = libpulse
	depends = sqlite
	depends = libvpx
	depends = icu
	optdepends = networkmanager: Location detection via available WiFi networks
	optdepends = libnotify: Notification integration
	optdepends = pulseaudio: Audio support
	optdepends = speech-dispatcher: Text-to-Speech
	optdepends = hunspell-en_US: Spell checking, American English
	provides = firefox=64.0
	conflicts = firefox
	options = !emptydirs
	options = !makeflags
	source = hg+https://hg.mozilla.org/mozilla-unified#tag=FIREFOX_64_0_RELEASE
	source = firefox.desktop
	source = firefox-symbolic.svg
	source = disable-bad-addons.diff
	source = disable-newtab-ads.diff
	source = add-restart.diff
	sha256sums = SKIP
	sha256sums = 677e1bde4c6b3cff114345c211805c7c43085038ca0505718a11e96432e9811a
	sha256sums = 9a1a572dc88014882d54ba2d3079a1cf5b28fa03c5976ed2cb763c93dabbd797
	sha256sums = fa03df5e93dac27b90433b655421d96f3a5a231330f7047307e500ef9c5da4ef
	sha256sums = b8534133874b2164c9602d238b09b369211c6fa16ae92710c26717d824a6dc63
	sha256sums = 5408e978b2873cac06a6c9e9f6b6bcecab3628882a41ea996e9ea5dfe2857634

pkgname = firefox-clean

