@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
/* hide tabs and sidebar header (for TreeStyleTab) */
#TabsToolbar, #sidebar-header {
    visibility: collapse !important;
}

/* hide menu button and spacer (the menu bar is the superior UI) */
#PanelUI-menu-button {
    display: none !important;
}
#PanelUI-button {
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
}

/* clean up Photon URL and search bar appearance slightly */
#urlbar:focus-within > #urlbar-background {
    box-shadow: none !important;
    border-color: -moz-accent-color !important;
    border-width: 1px !important;
}

#searchbar:focus-within {
    box-shadow: none !important;
    border-color: -moz-accent-color !important;
    /*border-bottom: none !important;
    border-radius: var(--toolbarbutton-border-radius) var(--toolbarbutton-border-radius) 0 0 !important;*/
}

#urlbar[breakout][breakout-extend] {
    top: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;
    left: 0 !important;
    width: 100% !important;
}

#urlbar[breakout][breakout-extend] > #urlbar-input-container {
    height: var(--urlbar-height) !important;
    padding-block: 0 !important;
    padding-inline: 0 !important;
}

/*
#PopupSearchAutoComplete {
    border: 1px solid -moz-accent-color !important;
    padding-top: 0 !important;
    border-top: none !important;
}

hbox.search-panel-header, #PopupSearchAutoComplete > menuseparator:first-child {
    display: none !important;
}
*/

/* hide the nav buttons in the context menu */
#context-navigation,
#context-sep-navigation {
    display:none !important;
}

/* hide the line above the tool bar */
#navigator-toolbox {
    --tabs-border-color: none !important;
}

/* and make the tool bar be exactly the same color as the menu */
.browser-toolbar:not(.titlebar-color) {
    background: none !important;
    background-image: none !important;
}
